test_deployment/fullTpl.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>88272f8c-016e-1000-9c12-412c11412307</groupId>
    <name>fullTpl</name>
    <snippet>
        <connections>
            <id>0b131b4d-0afc-33fe-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ea3c8a9f-40f9-38cf-0000-000000000000</groupId>
                <id>8c08de4b-fc34-306e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ea3c8a9f-40f9-38cf-0000-000000000000</groupId>
                <id>0dc855ec-daf5-3bee-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>1a56cc51-1cf5-3018-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ea3c8a9f-40f9-38cf-0000-000000000000</groupId>
                <id>402168f5-68b7-3d03-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ea3c8a9f-40f9-38cf-0000-000000000000</groupId>
                <id>755e4cbf-aa41-39f7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>8e79ce0c-0465-34ef-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ea3c8a9f-40f9-38cf-0000-000000000000</groupId>
                <id>2654b3b0-1671-33b3-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ea3c8a9f-40f9-38cf-0000-000000000000</groupId>
                <id>402168f5-68b7-3d03-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9992fe69-e779-321c-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ea3c8a9f-40f9-38cf-0000-000000000000</groupId>
                <id>0dca9c52-642c-3c98-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ea3c8a9f-40f9-38cf-0000-000000000000</groupId>
                <id>402168f5-68b7-3d03-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9f187ed0-8a52-376e-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ea3c8a9f-40f9-38cf-0000-000000000000</groupId>
                <id>755e4cbf-aa41-39f7-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ea3c8a9f-40f9-38cf-0000-000000000000</groupId>
                <id>bb5d5039-d954-3acc-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f1398565-2c51-32a4-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ea3c8a9f-40f9-38cf-0000-000000000000</groupId>
                <id>0dc855ec-daf5-3bee-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ea3c8a9f-40f9-38cf-0000-000000000000</groupId>
                <id>0dca9c52-642c-3c98-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>24fb928c-dca1-3a42-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-text-property</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${inferred.avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                </entry>
                <entry>
                    <key>output-grouping</key>
                </entry>
                <entry>
                    <key>compression-format</key>
                </entry>
                <entry>
                    <key>compression-level</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>27081fc2-28d5-34d8-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-arangodb-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.0.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>arangodb-client-service-hosts</key>
                    <value>
                        <name>arangodb-client-service-hosts</name>
                    </value>
                </entry>
                <entry>
                    <key>arangodb-client-service-load-balance-strategy</key>
                    <value>
                        <name>arangodb-client-service-load-balance-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>arangodb-client-service-fetch-host-list</key>
                    <value>
                        <name>arangodb-client-service-fetch-host-list</name>
                    </value>
                </entry>
                <entry>
                    <key>arangodb-client-service-username</key>
                    <value>
                        <name>arangodb-client-service-username</name>
                    </value>
                </entry>
                <entry>
                    <key>arangodb-client-service-password</key>
                    <value>
                        <name>arangodb-client-service-password</name>
                    </value>
                </entry>
                <entry>
                    <key>arangodb-client-service-use-authentication</key>
                    <value>
                        <name>arangodb-client-service-use-authentication</name>
                    </value>
                </entry>
                <entry>
                    <key>arangodb-client-service-protocol</key>
                    <value>
                        <name>arangodb-client-service-protocol</name>
                    </value>
                </entry>
                <entry>
                    <key>arangodb-client-service-timeout</key>
                    <value>
                        <name>arangodb-client-service-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>arangodb-client-service-ttl</key>
                    <value>
                        <name>arangodb-client-service-ttl</name>
                    </value>
                </entry>
                <entry>
                    <key>arangodb-client-service-chunk-size</key>
                    <value>
                        <name>arangodb-client-service-chunk-size</name>
                    </value>
                </entry>
                <entry>
                    <key>arangodb-client-service-max-connections</key>
                    <value>
                        <name>arangodb-client-service-max-connections</name>
                    </value>
                </entry>
                <entry>
                    <key>arangodb-client-service-ssl-context</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>arangodb-client-service-ssl-context</name>
                    </value>
                </entry>
                <entry>
                    <key>arangodb-client-service-use-ssl</key>
                    <value>
                        <name>arangodb-client-service-use-ssl</name>
                    </value>
                </entry>
            </descriptors>
            <name>ArangoDBClientServiceImpl</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>arangodb-client-service-hosts</key>
                    <value>172.28.3.1:8529</value>
                </entry>
                <entry>
                    <key>arangodb-client-service-load-balance-strategy</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>arangodb-client-service-fetch-host-list</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>arangodb-client-service-username</key>
                    <value>root</value>
                </entry>
                <entry>
                    <key>arangodb-client-service-password</key>
                    <value>test</value>
                </entry>
                <entry>
                    <key>arangodb-client-service-use-authentication</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>arangodb-client-service-protocol</key>
                    <value>VST</value>
                </entry>
                <entry>
                    <key>arangodb-client-service-timeout</key>
                </entry>
                <entry>
                    <key>arangodb-client-service-ttl</key>
                </entry>
                <entry>
                    <key>arangodb-client-service-chunk-size</key>
                </entry>
                <entry>
                    <key>arangodb-client-service-max-connections</key>
                </entry>
                <entry>
                    <key>arangodb-client-service-ssl-context</key>
                </entry>
                <entry>
                    <key>arangodb-client-service-use-ssl</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.controller.ArangoDBClientServiceImpl</type>
        </controllerServices>
        <controllerServices>
            <id>70e12f6f-aa92-30c0-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>embedded-avro-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroReader</type>
        </controllerServices>
        <processors>
            <id>0dc855ec-daf5-3bee-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <position>
                <x>580.9045924919119</x>
                <y>304.5209566594676</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Attributes List</key>
                        <value>
                            <name>Attributes List</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-json-regex</key>
                        <value>
                            <name>attributes-to-json-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>
                            <name>Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Include Core Attributes</key>
                        <value>
                            <name>Include Core Attributes</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Null Value</key>
                        <value>
                            <name>Null Value</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Attributes List</key>
                    </entry>
                    <entry>
                        <key>attributes-to-json-regex</key>
                    </entry>
                    <entry>
                        <key>Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Include Core Attributes</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Null Value</key>
                        <value>true</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>AttributesToJSON</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
        </processors>
        <processors>
            <id>0dca9c52-642c-3c98-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <position>
                <x>593.1249099731444</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-arangodb-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.0.1</version>
            </bundle>
            <config>
                <bulletinLevel>DEBUG</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>arango-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.controller.ArangoDBClientService</identifiesControllerService>
                            <name>arango-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>arango-query</key>
                        <value>
                            <name>arango-query</name>
                        </value>
                    </entry>
                    <entry>
                        <key>arango-query-record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>arango-query-record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>arango-database-name</key>
                        <value>
                            <name>arango-database-name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>arango-client-service</key>
                        <value>27081fc2-28d5-34d8-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>arango-query</key>
                        <value>RETURN {"id": 10, "b": "bla"}</value>
                    </entry>
                    <entry>
                        <key>arango-query-record-writer</key>
                        <value>24fb928c-dca1-3a42-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>arango-database-name</key>
                        <value>test</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>QueryArangoDBRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processor.QueryArangoDBRecord</type>
        </processors>
        <processors>
            <id>2654b3b0-1671-33b3-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>715.0881858825685</y>
            </position>
            <bundle>
                <artifact>nifi-arangodb-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.0.1</version>
            </bundle>
            <config>
                <bulletinLevel>DEBUG</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>arango-client-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.controller.ArangoDBClientService</identifiesControllerService>
                            <name>arango-client-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-arango-record-record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>put-arango-record-record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>put-arango-record-key-path</key>
                        <value>
                            <name>put-arango-record-key-path</name>
                        </value>
                    </entry>
                    <entry>
                        <key>arango-database-name</key>
                        <value>
                            <name>arango-database-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>arango-collection-name</key>
                        <value>
                            <name>arango-collection-name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>arango-client-service</key>
                        <value>27081fc2-28d5-34d8-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-arango-record-record-reader</key>
                        <value>70e12f6f-aa92-30c0-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>put-arango-record-key-path</key>
                        <value>/id</value>
                    </entry>
                    <entry>
                        <key>arango-database-name</key>
                        <value>test</value>
                    </entry>
                    <entry>
                        <key>arango-collection-name</key>
                        <value>test</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutArangoDBRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>DISABLED</state>
            <style/>
            <type>org.apache.nifi.processor.PutArangoDBRecord</type>
        </processors>
        <processors>
            <id>402168f5-68b7-3d03-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <position>
                <x>15.1898193359375</x>
                <y>449.1424461364747</y>
            </position>
            <bundle>
                <artifact>nifi-kite-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hadoop configuration files</key>
                        <value>
                            <name>Hadoop configuration files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Record schema</key>
                        <value>
                            <name>Record schema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV charset</key>
                        <value>
                            <name>CSV charset</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV delimiter</key>
                        <value>
                            <name>CSV delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV quote character</key>
                        <value>
                            <name>CSV quote character</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV escape character</key>
                        <value>
                            <name>CSV escape character</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Use CSV header line</key>
                        <value>
                            <name>Use CSV header line</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Lines to skip</key>
                        <value>
                            <name>Lines to skip</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kite-compression-type</key>
                        <value>
                            <name>kite-compression-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hadoop configuration files</key>
                    </entry>
                    <entry>
                        <key>Record schema</key>
                        <value>${inferred.avro.schema}</value>
                    </entry>
                    <entry>
                        <key>CSV charset</key>
                        <value>utf8</value>
                    </entry>
                    <entry>
                        <key>CSV delimiter</key>
                        <value>,</value>
                    </entry>
                    <entry>
                        <key>CSV quote character</key>
                        <value>"</value>
                    </entry>
                    <entry>
                        <key>CSV escape character</key>
                        <value>\</value>
                    </entry>
                    <entry>
                        <key>Use CSV header line</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Lines to skip</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>kite-compression-type</key>
                        <value>NONE</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConvertCSVToAvro</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>incompatible</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kite.ConvertCSVToAvro</type>
        </processors>
        <processors>
            <id>755e4cbf-aa41-39f7-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <position>
                <x>10.227294921875</x>
                <y>231.80218276977547</y>
            </position>
            <bundle>
                <artifact>nifi-kite-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>DEBUG</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Schema Output Destination</key>
                        <value>
                            <name>Schema Output Destination</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Input Content Type</key>
                        <value>
                            <name>Input Content Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Header Definition</key>
                        <value>
                            <name>CSV Header Definition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Get CSV Header Definition From Data</key>
                        <value>
                            <name>Get CSV Header Definition From Data</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Header Line Skip Count</key>
                        <value>
                            <name>CSV Header Line Skip Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV delimiter</key>
                        <value>
                            <name>CSV delimiter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Escape String</key>
                        <value>
                            <name>CSV Escape String</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CSV Quote String</key>
                        <value>
                            <name>CSV Quote String</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Pretty Avro Output</key>
                        <value>
                            <name>Pretty Avro Output</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Avro Record Name</key>
                        <value>
                            <name>Avro Record Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Number Of Records To Analyze</key>
                        <value>
                            <name>Number Of Records To Analyze</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Charset</key>
                        <value>
                            <name>Charset</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Schema Output Destination</key>
                        <value>flowfile-attribute</value>
                    </entry>
                    <entry>
                        <key>Input Content Type</key>
                        <value>csv</value>
                    </entry>
                    <entry>
                        <key>CSV Header Definition</key>
                        <value>id,b,c,d,e,f</value>
                    </entry>
                    <entry>
                        <key>Get CSV Header Definition From Data</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>CSV Header Line Skip Count</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>CSV delimiter</key>
                        <value>,</value>
                    </entry>
                    <entry>
                        <key>CSV Escape String</key>
                        <value>\</value>
                    </entry>
                    <entry>
                        <key>CSV Quote String</key>
                        <value>'</value>
                    </entry>
                    <entry>
                        <key>Pretty Avro Output</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Avro Record Name</key>
                        <value>test</value>
                    </entry>
                    <entry>
                        <key>Number Of Records To Analyze</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Charset</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>InferAvroSchema</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>unsupported content</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kite.InferAvroSchema</type>
        </processors>
        <processors>
            <id>8c08de4b-fc34-306e-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <position>
                <x>577.1423854606619</x>
                <y>600.9613863469676</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Log Level</key>
                        <value>
                            <name>Log Level</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>
                            <name>Log Payload</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                        <value>
                            <name>Attributes to Log</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>
                            <name>attributes-to-log-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                        <value>
                            <name>Attributes to Ignore</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                        <value>
                            <name>attributes-to-ignore-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                        <value>
                            <name>Log prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Log Level</key>
                        <value>info</value>
                    </entry>
                    <entry>
                        <key>Log Payload</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Attributes to Log</key>
                    </entry>
                    <entry>
                        <key>attributes-to-log-regex</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Attributes to Ignore</key>
                    </entry>
                    <entry>
                        <key>attributes-to-ignore-regex</key>
                    </entry>
                    <entry>
                        <key>Log prefix</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>LogAttribute</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.LogAttribute</type>
        </processors>
        <processors>
            <id>bb5d5039-d954-3acc-0000-000000000000</id>
            <parentGroupId>ea3c8a9f-40f9-38cf-0000-000000000000</parentGroupId>
            <position>
                <x>14.92681884765625</x>
                <y>4.944081878662189</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Input Directory</key>
                        <value>
                            <name>Input Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>
                            <name>File Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                        <value>
                            <name>Path Filter</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>
                            <name>Keep Source File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>
                            <name>Recurse Subdirectories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>
                            <name>Polling Interval</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>
                            <name>Ignore Hidden Files</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>
                            <name>Minimum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                        <value>
                            <name>Maximum File Age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>
                            <name>Minimum File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                        <value>
                            <name>Maximum File Size</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Input Directory</key>
                        <value>/home/nifi/data</value>
                    </entry>
                    <entry>
                        <key>File Filter</key>
                        <value>[^\.].*</value>
                    </entry>
                    <entry>
                        <key>Path Filter</key>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>10</value>
                    </entry>
                    <entry>
                        <key>Keep Source File</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>Recurse Subdirectories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Polling Interval</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Hidden Files</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Minimum File Age</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Maximum File Age</key>
                    </entry>
                    <entry>
                        <key>Minimum File Size</key>
                        <value>0 B</value>
                    </entry>
                    <entry>
                        <key>Maximum File Size</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GetFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetFile</type>
        </processors>
    </snippet>
    <timestamp>11/20/2019 10:12:50 UTC</timestamp>
</template>
